:root {
  --black: #000;
  --background-header: #0d0d0d;
  --background: #eff2f6;

  --gray: #707070;
  --gray100: #c4c4c4;
  --gray200: #979797;
  --gray300: #dae1ea;

  --white: #fff;

  --orange: #df9167;
  --puple: #7b61ff;
  --green: #219653;
  --blue: #2f80ed;
  --red: #eb5757;
  --light-blue: #56ccf2;
  --brown: #4f4f4f;
  --pink: #bb6bd9;
  --light-white: #f2f2f2;
  --light-green: #6fcf97;

  --error: #ed4040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Public Sans", sans-serif !important;
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none !important;
  color: var(--white) !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ol,
ul {
  margin-bottom: 0 !important;
}
